%h1
  audio samples

%table
  %tr
    %th name
    %th path
    %th
    %th
    %th

  - @samples.each do |sample|
    %tr
      %td= link_to sample.name, sample
      %td= sample.path
      %td= link_to 'edit', edit_sample_path(sample)
      %td= link_to 'forget', sample, :confirm => 'are you sure?', :method => :delete

%br

= link_to 'new sample', new_sample_path
