%h1 libraries

%table
  %tr
    %th name
    %th path
    %th
    %th

  - @libraries.each do |library|
    %tr
      %td= link_to library.name, library
      %td= library.path
      %td= link_to 'edit', edit_library_path(library)
      %td= link_to 'forget', library, :confirm => 'are you sure?', :method => :delete

%br

= link_to 'new library', new_library_path
