%h1 Listing watchers

%table
  %tr
    %th Path
    %th
    %th
    %th

  - @watchers.each do |watcher|
    %tr
      %td= watcher.path
      %td= link_to 'Show', watcher
      %td= link_to 'Edit', edit_watcher_path(watcher)
      %td= link_to 'Destroy', watcher, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Watcher', new_watcher_path
